# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse
.metadata
.classpath
.project
.settings/
bin/

# Spring Boot
*.log
*.tmp
*.bak
*.swp

# OS files
.DS_Store
Thumbs.db

# IDE
*.iml
.idea/

# Logs
logs/

# Temporary files
*.temp
*.lock